        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-size: 10px;
            font-family: "Roboto Cn", sans-serif;
        }
        
        a {
            text-decoration: none;
            color: #eee;
        }
        
        body {
            background-color: whitesmoke;
            background-size: cover;
            margin-bottom: 100px;
            padding-left: 200px;
            padding-bottom: 700px;
        }
        
        header {
            width: 100%;
            height: auto;
            position: relative;
            overflow: hidden;
        }
        
        .container {
            max-width: 120rem;
            width: 90%;
            margin: 0 auto;
        }
        
        .menu-toggle {
            position: fixed;
            top: 2.5rem;
            right: 2.5rem;
            color: #eeeeee;
            font-size: 3rem;
            cursor: pointer;
            z-index: 1000;
            display: none;
        }
        
        nav {
            padding-top: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        
        .brand {
            font-size: 3rem;
            font-weight: 300;
            transform: translateX(-100rem);
            animation: slideIn .5s forwards;
        }
        
        .brand span {
            color: crimson;
        }
        
        nav ul {
            display: flex;
        }
        
        nav ul li {
            list-style: none;
            transform: translateX(100rem);
            animation: slideIn .5s forwards;
        }
        
        nav ul li:nth-child(1) {
            animation-delay: 0s;
        }
        
        nav ul li:nth-child(2) {
            animation-delay: .5s;
        }
        
        nav ul li:nth-child(3) {
            animation-delay: 1s;
        }
        
        nav ul li:nth-child(4) {
            animation-delay: 1.5s;
        }
        
        nav ul li a {
            padding: 1rem 0;
            margin: 0 3rem;
            position: relative;
            letter-spacing: 2px;
        }
        
        nav ul li a:last-child {
            margin-right: 0;
        }
        
        nav ul li a::before,
        nav ul li a::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: crimson;
            left: 0;
            transform: scaleX(0);
            transition: all .5s;
        }
        
        nav ul li a::before {
            top: 0;
            transform-origin: left;
        }
        
        nav ul li a::after {
            bottom: 0;
            transform-origin: right;
        }
        
        .overlay {
            background-color: rgba(0, 0, 0, .95);
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            transition: opacity 650ms;
            transform: scale(0);
            opacity: 0;
            display: none;
        }
        
        nav ul li a:hover::before,
        nav ul li a:hover::after {
            transform: scaleX(1);
        }
        
        @keyframes slideIn {
            from {}
            to {
                transform: translateX(0);
            }
        }
        
        @media screen and (max-width: 700px) {
            .menu-toggle {
                display: block;
            }
            nav {
                padding-top: 0;
                display: none;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 100vh;
                text-align: center;
            }
            nav ul {
                flex-direction: column;
            }
            nav ul li {
                margin-top: 5rem;
            }
            nav ul li a {
                margin: 0;
                font-size: 2.5rem;
            }
            .brand {
                font-size: 5rem;
            }
            .overlay.menu-open,
            nav.menu-open {
                display: flex;
                transform: scale(1);
                opacity: 1;
            }
        }
        
        .block {
            float: left;
            width: 250px;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            margin: 10px;
        }
        
        .product {
            display: block;
            position: relative;
        }
        
        .product img {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        .info {
            display: block;
            position: relative;
            padding: 20px;
        }
        
        .details {
            border-top: 1px solid #e5e5e5;
            padding: 18px 20px;
        }
        
        .buttons {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: rgba(255, 255, 255, .5);
            opacity: 0;
            -webkit-transition: opacity .25s ease-in;
            -ms-transition: opacity .25s ease-in;
            -moz-transition: opacity .25s ease-in;
            -o-transition: opacity .25s ease-in;
            transition: opacity .25s ease-in;
        }
        
        .product:hover .buttons,
        .product:hover a {
            opacity: 1;
        }
        
        .buttons a {
            display: block;
            position: absolute;
            left: 50px;
            width: 115px;
            border-radius: 2px;
            padding: 15px 10px 15px 65px;
            font-family: Helvetica, sans-serif;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            opacity: 0;
        }
        
        .buttons a::after {
            content: "";
            display: block;
            position: absolute;
            height: 48px;
            width: 50px;
            border-right: 1px solid rgba(0, 0, 0, .25);
            box-shadow: 1px 0 0 rgba(255, 255, 255, .17);
            top: 0;
            left: 0;
            z-index: 1;
        }
        
        a.buy {
            top: 20%;
            background: #414141;
            background: rgba(0, 0, 0, .85);
            -webkit-transition: background .2s ease-in;
            -ms-transition: background .2s ease-in;
            -moz-transition: background .2s ease-in;
            -o-transition: background .2s ease-in;
            transition: background .2s ease-in;
        }
        
        .buy:hover {
            backgrond: #515151;
            background: rgba(45, 45, 45, 0.85);
        }
        
        .buy::after {
            background: url("https://designmodo.com/demo/ecommerce-css3/img/eye-icon.png");
            background-repeat: no-repeat;
            background-position: 16px 18px;
        }
        
        a.preview {
            bottom: 20%;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
            background: #286398;
            background: -webkit-linear-gradient(bottom, #1d4970, #639ed3);
            background: -ms-linear-gradient(bottom, #1d4970, #639ed3);
            background: -moz-linear-gradient(bottom, #1d4970, #639ed3);
            background: -o-linear-gradient(bottom, #1d4970, #639ed3);
            background-position: 0 -15px;
            background-size: 400px 80px;
            background-repeat: no-repeat;
            box-shadow: 0 2px 0 #165181;
            -webkit-transition: background-position .2s ease-in;
            -ms-transition: background-position .2s ease-in;
            -moz-transition: background-position .2s ease-in;
            -o-transition: background-position .2s ease-in;
            transition: background-position .2s ease-in;
        }
        
        .preview:hover,
        .buy_now:hover {
            background-position: 0 0;
        }
        
        .preview:active,
        .buy_now:active {
            -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
            -moz-transform: translateY(2px);
            -o-transform: translateY(2px);
            transform: translateY(2px);
            box-shadow: none;
        }
        
        .preview::after {
            background: url("https://designmodo.com/demo/ecommerce-css3/img/cart-icon.png");
            background-repeat: no-repeat;
            background-position: 16px 17px;
        }
        
        .info::after {
            display: block;
            position: absolute;
            top: -12px;
            left: 23px;
            content: "";
            width: 15px;
            height: 15px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        .info h4 {
            position: relative;
            padding: 0 0 20px 0;
            margin: 0 0 20px 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 19px;
            line-height: 25px;
            color: #372f2b;
            letter-spacing: -1px;
        }
        
        .info h4::after {
            display: block;
            position: absolute;
            bottom: 0px;
            content: "";
            width: 40px;
            height: 2px;
            background: #3b86c4;
        }
        
        .info .description {
            display: block;
            padding-bottom: 20px;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #5f5f5f;
        }
        
        .info .price {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: #372f2b;
            line-height: 26px;
        }
        
        .buy_now {
            background: #286398;
            float: right;
            position: relative;
            top: -5px;
            display: block;
            padding: 10px 10px;
            border-radius: 3px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            font-size: 15px;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);
            background: -webkit-linear-gradient(bottom, #1d4970, #639ed3);
            background: -ms-linear-gradient(bottom, #1d4970, #639ed3);
            background: -moz-linear-gradient(bottom, #1d4970, #639ed3);
            background: -o-linear-gradient(bottom, #1d4970, #639ed3);
            background-position: 0 -15px;
            background-size: 400px 80px;
            background-repeat: no-repeat;
            -webkit-transition: background-position .2s ease-in;
            -ms-transition: background-position .2s ease-in;
            -moz-transition: background-position .2s ease-in;
            -o-transition: background-position .2s ease-in;
            transition: background-position .2s ease-in;
            box-shadow: 0 2px 0 #165181;
        }
        
        .time {
            padding-left: 25px;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #372f2b;
            background: url("https://designmodo.com/demo/ecommerce-css3/img/clock-icon.png") no-repeat;
            background-position: 0 2px;
        }
        
        .rating {
            position: relative;
            top: 2px;
            float: right;
            margin: 0;
            padding: 0;
        }
        
        .rating li {
            float: left;
            display: block;
            height: 16px;
            width: 16px;
            margin-left: 5px;
            background: url("https://designmodo.com/demo/ecommerce-css3/img/stars.png") no-repeat 0 0;
        }
        
        .rating li.rated {
            background-position: 0px -16px;
        }
        
        .topbar ul {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            list-style: none;
        }
        
        .topbar ul li {
            padding: 0 20px;
        }
        
        .topbar ul li a {
            color: #333;
            text-decoration: none;
        }
        
        .topbar ul li a:hover {
            color: #ff6e00;
        }
        
        .active {
            color: #ff6e00 !important;
            font-weight: bold;
        }
        
        .phan-trang {
            position: absolute;
            color: white;
            left: 75rem;
            padding-top: 55%;
            font-size: 20px;
            margin-bottom: 50px;
        }